@import "tailwindcss";

@theme {
  --color-grey-500: #716F6F;
  --color-grey-200: #DCDCDC;
  --color-grey-100: #F0F0F0;

  --color-red-400: #FF5959;

  --color-purple-500: #854DFF;

  --font-poppins: "Poppins", sans-serif;
  --text-base: 20px;
  --leading-base: 150%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Poppins", sans-serif;
}